<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>このアプリは、習慣化したいことを音声で入力するために音声認識機能を使用します。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>このアプリは、習慣化したいことを音声で入力するためにマイクを使用します。</string>
</dict>
</plist>
